.wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.photo {
    display: inline-block;
    float: right;
}


.item {
    width: 400px;
    float: left;
}
.tabel{
    border: 3px solid #8AC007;
    text-align: right;
    width: 200px;

}

.tutvustus {
    clear: both;
    display: block;
    float: left;
    width: 700px;
}

.right {
    width: 500px;
    float: right;
}

.contact {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
