.wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    /**border-color: black;**/
    border-width: 1px;
    border: double black;
    overflow: hidden;
}

.paragrahv1 {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    overflow: hidden;
    background-color: #F5F5F5;
}

.paragrahv2 {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #F5F5F5;
}


.photo {
    display: inline-block;
    float: left;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.right p {
    text-align: center;
}



.item {
    width: 400px;
    float: left;
}
.tabel{
    border: 3px solid black;
    display: inline-block;
    float: left;

}

.tutvustus {
    clear: both;
    display: block;
    float: left;
    width: 750px;
    margin-right: 50px;
    font-family: "Times New Roman", Georgia, Serif;
}

.right {
    width: 400px;
    float: right;
}

.contact {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.photo p {
    text-align: center;
}






td {
    padding: 5px 16px 7px 16px;
    border-top: 1px gray solid;
    border-left: 1px gray solid;
}

body {
    background-image: url("http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-7.jpg")
}

p {font-size: 120%
}

